// Color Variables
$text-black: #000;
$text-lightblack: #0A0A0A;
$color-darkgray: #242424;
$color-orange: #FF8400;
$color-lightgray: #797979;
$color-bage: #F6E8D6;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// Set default font family globally
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

// common

.basic__container{
    max-width: 1280px;
    margin: 0 auto;
}

.btn{
  border: none;
  background: none;
}

.submit-btn {
  cursor: pointer;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 16px;
  font-family: Outfit;
  background: #1E1E1E;
}


@media screen and (max-width:768px){
  .basic__container{
    max-width: 100%;
  }
}