@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.basic__container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  border: none;
  background: none;
}

@media screen and (max-width: 768px) {
  .basic__container {
    max-width: 100%;
  }
}
header {
  width: 100%;
  padding: 1.563rem 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9;
  height: 100px;
  box-sizing: border-box;
}
header .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__inner .logo {
  width: 120px;
  height: auto;
}
header .header__inner .logo img {
  width: 100%;
  height: 100%;
}
header .header__inner nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
header .header__inner nav ul li a {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}
header .header__inner .mobile-menu-icon {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
header .header__inner .mobile-menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header .header__inner .mobile-menu-icon span:nth-child(1) {
  top: 0px;
}
header .header__inner .mobile-menu-icon span:nth-child(2), header .header__inner .mobile-menu-icon span:nth-child(3) {
  top: 9px;
}
header .header__inner .mobile-menu-icon span:nth-child(4) {
  top: 18px;
}
header .header__inner .mobile-menu-icon.active span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}
header .header__inner .mobile-menu-icon.active span:nth-child(2) {
  transform: rotate(45deg);
}
header .header__inner .mobile-menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg);
}
header .header__inner .mobile-menu-icon.active span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.mobile-dropdown {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  z-index: 999;
}
.mobile-dropdown.open {
  max-height: 300px;
}
.mobile-dropdown ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
}
.mobile-dropdown ul li {
  width: 100%;
  text-align: center;
}
.mobile-dropdown ul li:last-child {
  border-bottom: none;
}
.mobile-dropdown ul li:nth-child(2) {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.mobile-dropdown ul li:nth-child(3) {
  padding-top: 10px;
}
.mobile-dropdown ul li a {
  color: #fff;
  display: block;
  padding: 10px 0;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.mobile-dropdown ul li a:hover {
  background-color: #1a1a1a;
}

.main-banner {
  background: url("../images/main_banner.png") no-repeat;
  height: 800px;
  width: 100%;
  background-size: cover;
  position: relative;
}
.main-banner .main-banner__inner {
  height: 100%;
}
.main-banner .main-banner__inner .fixed__banner {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  color: #FF8400;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.938rem 0;
  text-align: center;
}
.main-banner .main-banner__inner .banner__content {
  display: flex;
  padding-bottom: 8.438rem;
  align-items: flex-start;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.625rem;
}
.main-banner .main-banner__inner .banner__content h1 {
  color: #FFF;
  font-size: 6.25rem;
  font-weight: 600;
}
.main-banner .main-banner__inner .banner__content p {
  color: #FFF;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.625rem;
}

.book-now {
  padding: 0 0 3.75rem;
  width: 100%;
  position: relative;
}
.book-now .book-now__inner {
  background-color: #F6E8D6;
  padding: 0.938rem 3.125rem;
  box-sizing: border-box;
  margin-top: -1.875rem;
}
.book-now .book-now__inner .book-now__title {
  font-weight: 600;
  font-size: 1.875rem;
  color: #0A0A0A;
  margin-bottom: 0.8rem;
}
.book-now .book-now__inner .find__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5.625rem;
  align-items: flex-end;
}
.book-now .book-now__inner .find__content .black-btn {
  background: #0A0A0A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  width: 345px;
  height: 60px;
  cursor: pointer;
}
.book-now .book-now__inner .find__content .select__box {
  display: flex;
  gap: 1.25rem;
  width: calc(100% - 345px);
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown {
  position: relative;
  width: 100%;
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__header .selected__option {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__header .dropdown__arrow {
  transition: transform 0.3s ease;
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 10;
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__options .dropdown__option {
  padding: 0.625rem;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__options .dropdown__option:hover {
  background-color: #f5f5f5;
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown.active .dropdown__arrow {
  transform: rotate(180deg);
}
.book-now .book-now__inner .find__content .select__box .custom__dropdown.active .dropdown__options {
  max-height: 200px;
  border: 1px solid #ccc;
}

.middle-banner .middle-banner__inner {
  font-size: 1.75rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.28px;
  background: #000;
  text-align: center;
  padding: 4.625rem 0;
}

.way--inner {
  padding: 7rem 0 11rem;
}
.way--inner .inner__title {
  margin-bottom: 6.875rem;
}
.way--inner .inner__title p {
  color: #FF8400;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.2;
}
.way--inner .inner__title h2 {
  font-weight: 600;
  color: #0A0A0A;
  font-size: 5.5rem;
  line-height: 1.2;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.way--inner .inner__title h2::after {
  position: absolute;
  right: -20px;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #FF8400;
  border-radius: 50%;
  bottom: 68px;
}
.way--inner .rooms__inner {
  display: flex;
  gap: 9.375rem;
}
.way--inner .rooms__inner .room__left {
  font-size: 3rem;
  font-weight: 600;
  color: #0A0A0A;
}
.way--inner .rooms__inner .room__right .inner__descript {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
  line-height: 1.2;
}
.way--inner .space__inner {
  margin-top: 7.5rem;
}

.inner__slide {
  width: 100%;
  max-width: 982px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.inner__slide .swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.inner__slide .swiper.roomSwiper {
  display: block;
}
.inner__slide .swiper.roomMobileSwiper {
  display: none;
}
.inner__slide .swiper-slide {
  width: 580px !important;
}
.inner__slide .swiper-slide .slide-content.single-image {
  position: relative;
  width: 100%;
}
.inner__slide .swiper-slide .slide-content.single-image .slide-img {
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner__slide .swiper-slide .slide-content.dual-image {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inner__slide .swiper-slide .slide-content.dual-image .slide-img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner__slide .swiper-slide.dual-slide {
  width: 290px !important;
}
.inner__slide .swiper-slide.dual-slide .slide-content.dual-image {
  position: relative;
  width: 100%;
}
.inner__slide .swiper-slide.dual-slide .slide-content.dual-image .slide-img {
  aspect-ratio: 1.03/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner__slide .swiper-pagination {
  position: relative;
  margin-top: 1.25rem;
}
.inner__slide .swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.1);
  height: 4px;
}
.inner__slide .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #242424;
}
.inner__slide .swiper {
  width: 100%;
}
.inner__slide .swiper.spaceSwiper {
  width: 100%;
}
.inner__slide .swiper.spaceSwiper .swiper-wrapper {
  display: flex;
  width: 100% !important;
}
.inner__slide .swiper.spaceSwiper .swiper-slide {
  width: 100% !important;
  margin-right: 0;
  flex-shrink: 0;
  display: flex;
  gap: 16px;
}
.inner__slide .swiper.spaceSwiper .swiper-slide .left-column {
  width: 60%;
  height: 580px;
}
.inner__slide .swiper.spaceSwiper .swiper-slide .left-column .slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner__slide .swiper.spaceSwiper .swiper-slide .right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.inner__slide .swiper.spaceSwiper .swiper-slide .right-column .slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner__slide .swiper.spaceSwiper .swiper-slide .right-column .right-column-wrap {
  height: calc(50% - 5px);
  position: relative;
}
.inner__slide .swiper.spaceSwiper .swiper-slide .space-caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  color: #fff;
}
.inner__slide .swiper.spaceSwiper .swiper-pagination {
  position: relative;
  margin-top: 1.25rem;
  width: 100%;
}
.inner__slide .swiper.spaceSwiper .swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.1);
  height: 4px;
  width: calc(100% - 1.25rem);
}
.inner__slide .swiper.spaceSwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #242424;
}

.locations {
  background: #FFF5E8;
  padding: 6.25rem 0 9.375rem;
}
.locations .inner__title {
  margin-bottom: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locations .inner__title p {
  color: #FF8400;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.2;
  text-align: center;
}
.locations .inner__title h2 {
  font-weight: 600;
  color: #0A0A0A;
  font-size: 5.5rem;
  line-height: 1.2;
  position: relative;
  text-align: center;
  display: inline-block;
}
.locations .inner__title h2::after {
  position: absolute;
  right: -20px;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #FF8400;
  border-radius: 50%;
  bottom: 68px;
}
.locations .inner__title .location_descript {
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0.625rem;
}
.locations .location__content {
  display: flex;
  gap: 2.125rem;
}
.locations .location__content .location__card {
  width: 50%;
  height: 720px;
}
.locations .location__content .location__card.seoul__location {
  background: url("../images/location.png");
  background-size: cover;
  padding: 3.125rem;
  box-sizing: border-box;
}
.locations .location__content .location__card.seoul__location .location__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.locations .location__content .location__card.seoul__location .location__info h3 {
  color: #FFF;
  text-align: center;
  font-size: 4ren;
  font-weight: 600;
  margin-bottom: 0.25rem;
  line-height: 1.2;
}
.locations .location__content .location__card.seoul__location .location__info .info__location {
  display: flex;
  align-items: center;
  color: #ECECEC;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}
.locations .location__content .location__card.seoul__location .basic-btn {
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F6E8D6;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #0A0A0A;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}
.locations .location__content .location__card.comming--soon {
  background: url("../images/location01.png");
  background-size: cover;
  padding: 3.125rem;
  box-sizing: border-box;
}
.locations .location__content .location__card.comming--soon .location__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.locations .location__content .location__card.comming--soon .location__info .opacity--text {
  font-size: 2.5rem;
  color: #797979;
  font-weight: 600;
}
.locations .location__content .location__card.comming--soon .location__info .comming-text {
  font-size: 3rem;
  color: #FFF;
  font-weight: 500;
  line-height: 1.2;
}
.locations .mobile-view {
  display: none;
}
.locations .location__mobile-swiper {
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  margin: 0 auto;
}
.locations .location__mobile-swiper .location-swiper {
  width: 100%;
  padding-bottom: 3.5rem;
  overflow: visible;
}
.locations .location__mobile-swiper .location-swiper .swiper-wrapper {
  transform-style: preserve-3d;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide {
  opacity: 0.4;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card {
  padding-bottom: 1rem;
  width: 100%;
  height: 320px;
  overflow: hidden;
  transform-style: preserve-3d;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.seoul__location {
  background: url("../images/location.png");
  background-size: cover;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.seoul__location .location__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.seoul__location .location__info h3 {
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  line-height: 1.2;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.seoul__location .location__info .info__location {
  display: flex;
  align-items: center;
  color: #ECECEC;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.875rem;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.seoul__location .location__info .info__location svg {
  width: 12px;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.seoul__location .basic-btn {
  width: 110px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F6E8D6;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #0A0A0A;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.comming--soon {
  background: url("../images/location01.png");
  background-size: cover;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.comming--soon .location__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.comming--soon .location__info .opacity--text {
  font-size: 1rem;
  color: #797979;
  font-weight: 600;
}
.locations .location__mobile-swiper .location-swiper .swiper-slide .location__card.comming--soon .location__info .comming-text {
  font-size: 1.5rem;
  color: #FFF;
  font-weight: 500;
  line-height: 1.2;
}
.locations .location__mobile-swiper .location-swiper .location-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.locations .location__mobile-swiper .location-swiper .location-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 0.7;
  margin: 0 5px;
}
.locations .location__mobile-swiper .location-swiper .location-pagination .swiper-pagination-bullet-active {
  background: #FF8C00;
  opacity: 1;
}
.locations .location__mobile-swiper .swiper-button-next,
.locations .location__mobile-swiper .swiper-button-prev {
  color: #797979;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -20px;
  position: absolute;
}
.locations .location__mobile-swiper .swiper-button-next:after,
.locations .location__mobile-swiper .swiper-button-prev:after {
  font-size: 1.2rem;
}
.locations .location__mobile-swiper .swiper-button-prev {
  left: -10px;
}
.locations .location__mobile-swiper .swiper-button-next {
  right: -10px;
}

.perks {
  background: #F6E8D6;
  padding: 6.25rem 0 9.375rem;
}
.perks .inner__title {
  margin-bottom: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perks .inner__title p {
  color: #FF8400;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.2;
  text-align: center;
}
.perks .inner__title h2 {
  font-weight: 600;
  color: #0A0A0A;
  font-size: 5.5rem;
  line-height: 1.2;
  position: relative;
  text-align: center;
  display: inline-block;
}
.perks .inner__title h2::after {
  position: absolute;
  right: -20px;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #FF8400;
  border-radius: 50%;
  bottom: 68px;
}
.perks .inner__title .location_descript {
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0.625rem;
}
.perks .list__descript {
  display: flex;
  gap: 1.4rem;
}
.perks .list__descript .list__item {
  width: 25%;
  background: #fff;
  padding: 2.375rem 1.875rem;
  box-sizing: border-box;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.75rem;
}
.perks .list__descript .list__item svg {
  width: 76px;
  height: auto;
}
.perks .list__descript .list__item h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}
.perks .list__descript .list__item p {
  color: #242424;
  font-size: 1.125rem;
  font-weight: 400;
}

.stay__slide_wrapp {
  background-color: #242424;
  padding: 6.25rem 0 5.625rem;
}
.stay__slide_wrapp .inner__title {
  margin-bottom: 3.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.stay__slide_wrapp .inner__title p {
  color: #FF8400;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.2;
  text-align: center;
}
.stay__slide_wrapp .inner__title h2 {
  font-weight: 600;
  color: #fff;
  font-size: 5.5rem;
  line-height: 1.2;
  position: relative;
  text-align: center;
  display: inline-block;
}
.stay__slide_wrapp .inner__title h2::after {
  position: absolute;
  right: -20px;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #FF8400;
  border-radius: 50%;
  bottom: 90px;
}
.stay__slide_wrapp .slide__items {
  background: #FFF;
  height: 342px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.stay__slide_wrapp .slide__items .slide__header {
  padding: 1.563rem 1.875rem 1.438rem 1.375rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 44px);
}
.stay__slide_wrapp .slide__items .slide__header .content--text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0A0A0A;
}
.stay__slide_wrapp .slide__items .slide__header .content--text span {
  display: block;
  color: #797979;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.625rem;
}
.stay__slide_wrapp .slide__items .slide__header .icon__city {
  display: flex;
  justify-content: flex-end;
}
.stay__slide_wrapp .slide__items .slide__header .icon__city img {
  width: 30px;
  height: 30px;
}
.stay__slide_wrapp .slide__items .slide__footer {
  padding: 12px 22px;
  box-sizing: border-box;
  background: #F6E8D6;
}
.stay__slide_wrapp .slide__items .slide__footer p {
  color: #0A0A0A;
  font-size: 20px;
  font-weight: 500;
}
.stay__slide_wrapp .swiper-pagination {
  position: relative;
  margin-top: 1.25rem;
}
.stay__slide_wrapp .swiper-pagination-progressbar {
  background: #797979;
  height: 4px;
}
.stay__slide_wrapp .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fff;
}

.limited__rooms {
  padding: 4.625rem 0 9.375rem;
}
.limited__rooms .limited__inner {
  background: url("../images/background.png") no-repeat;
  height: 400px;
  background-size: cover;
}
.limited__rooms .limited__inner .limited__Wrapp {
  padding: 1.75rem 6.25rem 1.75rem 1.75rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.limited__rooms .limited__inner .limited__Wrapp .limited__left p {
  color: #242424;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}
.limited__rooms .limited__inner .limited__Wrapp .limited__left h3 {
  font-size: 5.25rem;
  color: #0A0A0A;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2.8rem;
}
.limited__rooms .limited__inner .limited__Wrapp .limited__left .black-btn {
  background: #242424;
  width: 345px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 2.25rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.2;
}
.limited__rooms .limited__inner .limited__right img {
  border-radius: 8px;
}
.limited__rooms .limited__inner .mobile-btn {
  display: none;
}

.faq {
  padding: 6.25rem 0 9.375rem;
}
.faq .inner__title {
  margin-bottom: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq .inner__title h2 {
  font-weight: 600;
  color: #0A0A0A;
  font-size: 5.5rem;
  line-height: 1.2;
  position: relative;
  text-align: center;
  display: inline-block;
}
.faq .inner__title h2::after {
  position: absolute;
  right: -20px;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #FF8400;
  border-radius: 50%;
  bottom: 68px;
}
.faq .accordion {
  height: auto;
  margin: 0 auto;
  border-top: 1px solid #ECECEC;
}
.faq .accordion-item {
  padding: 1.25rem 0;
  margin: 0;
  overflow: hidden;
  border-bottom: 1.3px solid #d4d4d4;
}
.faq .accordion-item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 2.25rem;
  cursor: pointer;
  color: #242424;
}
.faq .accordion-item .title svg {
  width: 2.25rem;
  height: auto;
  color: #454545;
  transform: translateX(-50%) rotate(0);
  transition: transform 0.15s ease;
}
.faq .accordion-item .paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  color: #797979;
  display: none;
  padding: 1rem 0;
  list-style: inside;
}
.faq .accordion-item .paragraph .indent {
  text-indent: 1rem;
}
.faq .accordion-item .paragraph span {
  font-weight: bold;
}
.faq .accordion-item.active .title {
  color: #FF8400;
}
.faq .accordion-item.active .title svg {
  transform: translateX(-50%) rotate(180deg);
}
.faq .accordion-item.active .paragraph {
  display: block;
  padding: 1.25rem 0;
}
.faq .view__more {
  margin-top: 3.125rem;
}
.faq .view__more a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  font-weight: 500;
  font-size: 2.25rem;
}

footer {
  background-color: #0A0A0A;
  padding: 3.75rem 0 5rem;
}
footer .footer__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer__inner ul {
  display: flex;
  justify-content: space-between;
  gap: 7.5rem;
}
footer .footer__inner ul .footer__logo {
  width: 138px;
  height: auto;
}
footer .footer__inner ul .footer__logo img {
  width: 100%;
  height: 100%;
}
footer .footer__inner ul .footer__info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 3.125rem;
}
footer .footer__inner ul .footer__info .info__items {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
}
footer .footer__inner ul .copy__right {
  color: #797979;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
}
footer .footer__inner ul .link__items {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.375rem;
}
footer .footer__inner .sns__list {
  display: flex;
  gap: 1.25rem;
}
footer .footer__inner .sns__list .sns__items {
  display: flex;
}
footer .footer__inner .sns__list .sns__items svg {
  width: 2rem;
}
footer .footer__inner .mo-view {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    padding: 0;
    height: 60px;
  }
  header .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    box-sizing: border-box;
    height: 100%;
  }
  header .header__inner .logo {
    width: 72px;
    height: auto;
  }
  header .header__inner .logo img {
    width: 100%;
    height: 100%;
  }
  header .header__inner nav {
    display: none;
  }
  header .header__inner .mobile-menu-icon {
    display: block;
  }
  .mobile-dropdown {
    display: block;
  }
  .main-banner {
    background: url("../images/main_banner.png") no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
  }
  .main-banner .main-banner__inner .fixed__banner {
    left: 0;
    top: 60px;
    font-size: 1.5rem;
    padding: 0.625rem 0;
  }
  .main-banner .main-banner__inner .banner__content {
    display: flex;
    padding: 3.875rem 1.25rem;
    gap: 0.625rem;
  }
  .main-banner .main-banner__inner .banner__content h1 {
    font-size: 2.625rem;
  }
  .main-banner .main-banner__inner .banner__content p {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  .book-now {
    padding: 0 1.25rem 3.75rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
  }
  .book-now .book-now__inner {
    padding: 0.938rem 1.25rem;
    margin-top: -1.875rem;
  }
  .book-now .book-now__inner .book-now__title {
    font-weight: 600;
    font-size: 1.625rem;
    color: #0A0A0A;
    margin-bottom: 0.8rem;
  }
  .book-now .book-now__inner .find__content {
    width: 100%;
    gap: 1.25rem;
    flex-direction: column;
  }
  .book-now .book-now__inner .find__content .black-btn {
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    height: 42px;
  }
  .book-now .book-now__inner .find__content .select__box {
    width: 100%;
  }
  .book-now .book-now__inner .find__content .select__box .custom__dropdown {
    flex: 1;
  }
  .book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__header {
    padding: 0.5rem 0;
  }
  .book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__header .selected__option {
    font-size: 1rem;
  }
  .book-now .book-now__inner .find__content .select__box .custom__dropdown .dropdown__header .dropdown__arrow {
    transition: transform 0.3s ease;
    width: 12px;
  }
  .book-now .book-now__inner .find__content .select__box .custom__dropdown.date-dropdown {
    flex: 2;
  }
  .book-now .book-now__inner .daterangepicker {
    width: 90%;
    max-width: 350px;
  }
  .book-now .book-now__inner .daterangepicker .calendar {
    width: 100%;
    max-width: 100%;
  }
  .book-now .book-now__inner .daterangepicker .calendar:first-child {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .book-now .book-now__inner .daterangepicker .calendar .calendar-table {
    width: 100%;
  }
  .book-now .book-now__inner .daterangepicker .calendar .calendar-table th,
  .book-now .book-now__inner .daterangepicker .calendar .calendar-table td {
    width: 40px;
    height: 40px;
  }
  .book-now .book-now__inner .select__box {
    width: 100%;
    gap: 1rem;
  }
  .book-now .book-now__inner .select__box .custom__dropdown .dropdown__header {
    padding: 0.75rem 0;
  }
  .book-now .book-now__inner .select__box .custom__dropdown .dropdown__header .selected__option {
    font-size: 1.25rem;
  }
  .book-now .book-now__inner .daterangepicker {
    position: fixed !important;
    top: 10% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 90% !important;
    min-width: 300px !important;
    max-width: 400px !important;
    max-height: 80vh !important;
    overflow-y: auto !important;
  }
  .book-now .book-now__inner .daterangepicker .calendars {
    flex-direction: column !important;
  }
  .book-now .book-now__inner .daterangepicker .calendar {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
  }
  .book-now .book-now__inner .daterangepicker .calendar:first-child {
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #eee !important;
  }
  .middle-banner .middle-banner__inner {
    font-size: 1rem;
    letter-spacing: 0.28px;
    padding: 3.25rem 1.25rem;
  }
  .middle-banner .middle-banner__inner br {
    display: none;
  }
  .way--inner {
    padding: 5rem 0;
  }
  .way--inner .inner__title {
    padding: 0 1.25rem;
    margin-bottom: 1.875rem;
    box-sizing: border-box;
  }
  .way--inner .inner__title h2 {
    font-size: 2.625rem;
  }
  .way--inner .inner__title h2::after {
    position: absolute;
    right: -11px;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FF8400;
    border-radius: 50%;
    bottom: 31px;
  }
  .way--inner .inner__title p {
    font-size: 1.25rem;
  }
  .way--inner .rooms__inner {
    display: flex;
    gap: 0.625rem;
    flex-direction: column;
    padding: 0 0 0 1.25rem;
  }
  .way--inner .rooms__inner .room__left {
    font-size: 1.5rem;
  }
  .way--inner .rooms__inner .room__right .inner__descript {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
    line-height: 1.2;
    padding-right: 1.25rem;
  }
  .way--inner .space__inner {
    margin-top: 4.625rem;
  }
  .way--inner .inner__slide {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .way--inner .inner__slide .swiper {
    width: 100%;
  }
  .way--inner .inner__slide .swiper.roomSwiper {
    display: none !important;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper {
    display: block;
    width: 100%;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper .swiper-wrapper {
    width: 100%;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper .swiper-slide {
    width: 100% !important;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper .slide-img {
    width: 100%;
    height: 315px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper .room__list--dual {
    display: flex;
    gap: 0.625rem;
    width: 100%;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper .room__list--dual .slide-img {
    width: calc(50% - 0.3125rem);
    height: 125px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper .swiper-pagination {
    width: 100%;
  }
  .way--inner .inner__slide .swiper.roomMobileSwiper .swiper-pagination-progressbar {
    width: calc(100% - 1.25rem);
  }
  .way--inner .inner__slide .swiper.spaceSwiper {
    width: 100%;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-wrapper {
    display: flex;
    width: 100% !important;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide {
    width: 100% !important;
    margin-right: 0;
    flex-shrink: 0;
    display: flex;
    gap: 10px;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide .left-column {
    width: 65%;
    height: 230px;
    position: relative;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide .left-column .slide-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide .right-column {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide .right-column .right-column-wrap {
    position: relative;
    height: calc(50% - 5px);
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide .right-column .slide-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide .right-column-wrap {
    position: relative;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-slide .space-caption {
    position: absolute;
    bottom: 6px;
    left: 5px;
    font-size: 9px;
    padding: 0;
    color: #fff;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-pagination {
    position: relative;
    margin-top: 1.25rem;
    width: 100%;
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.1);
    height: 4px;
    width: calc(100% - 1.25rem);
  }
  .way--inner .inner__slide .swiper.spaceSwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #242424;
  }
  .way--inner .inner__slide .swiper-pagination {
    position: relative;
    margin-top: 1.25rem;
  }
  .way--inner .inner__slide .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.1);
    height: 4px;
  }
  .way--inner .inner__slide .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #242424;
  }
  .locations {
    padding: 3.125rem 1.25rem;
    box-sizing: border-box;
  }
  .locations .inner__title {
    margin-bottom: 2.5rem;
  }
  .locations .inner__title h2 {
    font-size: 2.625rem;
  }
  .locations .inner__title h2::after {
    position: absolute;
    right: -11px;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FF8400;
    border-radius: 50%;
    bottom: 31px;
  }
  .locations .inner__title p {
    font-size: 1.25rem;
  }
  .locations .inner__title .location_descript {
    font-size: 1rem;
  }
  .locations .inner__title .location_descript br {
    display: none;
  }
  .locations .desktop-view {
    display: none;
  }
  .locations .mobile-view {
    display: block;
  }
  .perks {
    padding: 3.125rem 0 2.25rem;
  }
  .perks .inner__title {
    margin-bottom: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .perks .inner__title p {
    font-size: 1.25rem;
  }
  .perks .inner__title h2 {
    font-size: 2.375rem;
    line-height: 1.2;
    width: 70%;
  }
  .perks .inner__title h2::after {
    position: absolute;
    right: 8px;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FF8400;
    border-radius: 50%;
    bottom: 35px;
  }
  .perks .inner__title .location_descript {
    font-size: 1rem;
    margin-top: 0.625rem;
  }
  .perks .list__descript {
    display: flex;
    gap: 0.75rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .perks .list__descript .list__item {
    width: 48%;
    background: #fff;
    padding: 1.25rem 0.625rem;
    box-sizing: border-box;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .perks .list__descript .list__item svg {
    width: 36px;
    height: auto;
  }
  .perks .list__descript .list__item h3 {
    font-size: 1rem;
  }
  .perks .list__descript .list__item p {
    color: #242424;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2;
  }
  .stay__slide_wrapp {
    padding: 3.125rem 0;
  }
  .stay__slide_wrapp .inner__title {
    margin-bottom: 2.5rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
  }
  .stay__slide_wrapp .inner__title p {
    font-size: 1.25rem;
  }
  .stay__slide_wrapp .inner__title h2 {
    font-size: 2.375rem;
    line-height: 1.2;
    text-align: left;
    width: 73%;
  }
  .stay__slide_wrapp .inner__title h2::after {
    position: absolute;
    right: 73px;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FF8400;
    border-radius: 50%;
    bottom: 35px;
  }
  .stay__slide_wrapp .stay__slide {
    padding: 0 0 0 1.25rem;
  }
  .stay__slide_wrapp .slide__items {
    height: 218px;
  }
  .stay__slide_wrapp .slide__items .slide__header {
    padding: 0.875rem 1.25rem 0.625rem 0.625rem;
    height: calc(100% - 26px);
  }
  .stay__slide_wrapp .slide__items .slide__header .content--text {
    font-size: 0.875rem;
    line-height: 1.2;
  }
  .stay__slide_wrapp .slide__items .slide__header .content--text span {
    display: block;
    color: #797979;
    font-weight: 400;
    font-size: 0.625rem;
    margin-top: 0.625rem;
  }
  .stay__slide_wrapp .slide__items .slide__header .icon__city {
    display: flex;
    justify-content: flex-end;
  }
  .stay__slide_wrapp .slide__items .slide__header .icon__city img {
    width: 24px;
    height: 24px;
  }
  .stay__slide_wrapp .slide__items .slide__footer {
    padding: 0.25rem 0.5rem;
  }
  .stay__slide_wrapp .slide__items .slide__footer p {
    color: #0A0A0A;
    font-size: 0.75rem;
  }
  .stay__slide_wrapp .swiper-pagination {
    position: relative;
    margin-top: 1.25rem;
  }
  .stay__slide_wrapp .swiper-pagination-progressbar {
    background: #797979;
    height: 4px;
  }
  .stay__slide_wrapp .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #fff;
  }
  .limited__rooms {
    padding: 3.125rem 1.25rem 1.875rem;
  }
  .limited__rooms .limited__inner {
    background: url("../images/background.png") no-repeat;
    height: 195px;
    background-size: cover;
    background-position: right;
  }
  .limited__rooms .limited__inner .limited__Wrapp {
    height: 100%;
    padding: 0;
    padding: 1rem;
  }
  .limited__rooms .limited__inner .limited__Wrapp .limited__left p {
    font-size: 1.5rem;
    width: 71%;
  }
  .limited__rooms .limited__inner .limited__Wrapp .limited__left h3 {
    font-size: 2.5rem;
    color: #0A0A0A;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .limited__rooms .limited__inner .limited__Wrapp .limited__left .black-btn {
    display: none;
  }
  .limited__rooms .limited__inner .limited__Wrapp .limited__right {
    width: 88px;
  }
  .limited__rooms .limited__inner .limited__Wrapp .limited__right img {
    width: 100%;
    border-radius: 8px;
  }
  .limited__rooms .limited__inner .limited__Wrapp .pc-btn {
    display: none;
  }
  .limited__rooms .limited__inner .mobile-btn {
    background: #242424;
    width: 100%;
    height: 45px;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq {
    margin-top: 3.75rem;
    padding: 0 1.25rem 2.25rem;
  }
  .faq .inner__title {
    margin-bottom: 1.25rem;
  }
  .faq .inner__title h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .faq .inner__title h2::after {
    position: absolute;
    right: -11px;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FF8400;
    border-radius: 50%;
    bottom: 31px;
  }
  .faq .accordion-item {
    padding: 0.5rem 0;
    margin: 0;
    overflow: hidden;
  }
  .faq .accordion-item .title {
    font-weight: 500;
    font-size: 0.875rem;
  }
  .faq .accordion-item .title svg {
    width: 12px;
    height: auto;
    color: #454545;
    transform: translateX(-50%) rotate(0);
    transition: transform 0.15s ease;
  }
  .faq .accordion-item .paragraph {
    font-weight: 400;
    font-size: 0.875rem;
    color: #797979;
    display: none;
    padding: 1rem 0;
    list-style: inside;
  }
  .faq .accordion-item .paragraph .indent {
    text-indent: 1rem;
  }
  .faq .accordion-item .paragraph span {
    font-weight: bold;
  }
  .faq .accordion-item.active .title {
    color: #FF8400;
  }
  .faq .accordion-item.active .title svg {
    transform: translateX(-50%) rotate(180deg);
  }
  .faq .accordion-item.active .paragraph {
    display: block;
    padding: 1.25rem 0 0;
  }
  .faq .view__more {
    margin-top: 3.125rem;
  }
  .faq .view__more a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    font-weight: 500;
    font-size: 0.875rem;
  }
  footer {
    background-color: #0A0A0A;
    padding: 1.25rem;
  }
  footer .footer__inner {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  footer .footer__inner ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  footer .footer__inner ul .footer__logo {
    width: 80px;
    height: auto;
    margin-bottom: 1.25rem;
  }
  footer .footer__inner ul .footer__logo img {
    width: 100%;
    height: 100%;
  }
  footer .footer__inner ul .footer__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  footer .footer__inner ul .footer__info .info__items {
    color: #fff;
    font-size: 0.825rem;
    font-weight: 400;
  }
  footer .footer__inner ul .copy__right {
    font-size: 0.75rem;
    padding-top: 1rem;
  }
  footer .footer__inner ul .copy__right.pc-view {
    display: none;
  }
  footer .footer__inner ul .link__items {
    display: block;
    color: #fff;
    font-size: 0.75rem;
    margin-bottom: 0.375rem;
  }
  footer .footer__inner .sns__list {
    display: flex;
    gap: 1.25rem;
  }
  footer .footer__inner .sns__list .sns__items {
    display: flex;
  }
  footer .footer__inner .sns__list .sns__items svg {
    width: 24px;
  }
  footer .footer__inner .mo-view {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */